::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside {
    flex-basis: 30%;
}

nav {
    display: flex;
    flex-direction: column;
}

a {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f4f4;
}

section {
    flex-basis: 70%;
    max-width: 70%;
    padding: 10px;
}

.horizont_scroll {
    position: relative;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.wrapper div {
    flex-shrink: 0;
    margin-right: 10px;
    padding: 5px;
    width: fit-content;
    background-color: #097bf0;
}

.wrapper div:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }
    aside, section {
        flex-basis:100%;
        max-width: 100%;
    }
}